<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="mageviper_dpd" frontName="dpd">
            <module name="Mageviper_Dpd" before="Magento_Backend"/>
        </route>
    </router>
</config>